body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
  }
  
  h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  
  h2 {
    font-weight: 100;
  }
  
  img {
    width: 100%;
  }
  
  .content {
    font-size: 14px;
  }
  
  .main-container {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
  }
  
  .main-items-container {
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    width: auto;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    box-sizing: border-box;
  }
  
  @media (min-width: 971px) {
    .item-container {
      margin: 10px 2%;
      width: 22%;
      padding: 10px;
      border: 1px solid #000;
      box-sizing: border-box;
    }
    .item-container:nth-child(4n+1) {
      margin-left: 0;
    }
    .item-container:nth-child(4n) {
      margin-right: 0;
    }
  }
  
  @media (min-width: 550px) and (max-width: 970px) {
    .item-container {
      margin: 10px 2.50%;
      width: 30%;
      padding: 10px;
      border: 1px solid #000;
      box-sizing: border-box;
    }
    .item-container:nth-child(3n+1) {
      margin-left: 0;
    }
    .item-container:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  @media (max-width: 549px) {
    .item-container {
      margin: 10px 0;
      width: initial;
      padding: 10px;
      border: 1px solid #000;
      box-sizing: border-box;
    }
  }